<!DOCTYPE html>
<html>
  <head>
    <title>Admin Framework</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  </body>
</html>
